.bp-container {
    a {
        color: $link-color;
        text-decoration: none;
      
        &:hover,
        &:active {
          color: $link-color;
          text-decoration: underline;
        }
    }
    
    .box-card {
        padding: 1rem;
        background: $box-background-color;
        border: 0.06rem solid $box-border-color;
        box-shadow: 0.13rem 0.13rem 0.5rem $box-shadow-color;
        border-radius: 0.13rem;
        box-sizing: border-box;
    }
    
    .bp-header {
        padding: 0.6rem;
        background-color: $header-bg-color;
        border-radius: 0.5rem;

        .bp-navbar-nav {
            flex-direction: row;
    
            li {
                margin-right: 1rem;
            }
        }
    }

    .bp-main {
        margin: 2rem 0;
    }
}