{% extends 'admin/layout.html.twig' %}

{% block title %}Admin - Edit Post{% endblock %}

{% block content %}
<div class="box-card bp-admin-post">
    <h2 class="page-title">Edit Post</h2>

    {{ include('admin/blog/_form.html.twig', {'button_label': 'Update'}) }}
</div>
{% endblock %}
