{% extends 'admin/layout.html.twig' %}

{% block title %}Admin - Edit Post{% endblock %}

{% block content %}
    <h2>Edit Post</h2>

    {{ include('admin/blog/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_post_index') }}">back to list</a>
{% endblock %}
