{% extends 'admin/layout.html.twig' %}

{% block title %}Admin - New Post{% endblock %}

{% block content %}
    <h2>Create new Post</h2>

    {{ include('admin/blog/_form.html.twig') }}

    <a href="{{ path('admin_post_index') }}">back to list</a>
{% endblock %}
